/* CHARTE GRAPHIQUE */

body{
    background-color:#2C3E50;
    display:flex;
    flex-direction:column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#bdc3c7;
}

header{
    font-size:6vh;
    text-align:center;
    margin-bottom: 1%;
}

/* Ecran Login */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

input{
    margin-bottom: 30px;
}

button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background-color:#2c3e50;
    margin-bottom:2%;

    
  }

  #Indexlog a{
      text-decoration: none;
      color:white;
      font-size:1.5em;
      
  }

  #BtnUser:hover {
    background-color: green; 
    color: white;
  }

  #BtnAdmin:hover {
    background-color: red; 
    color: white;
  }
/* FIN DE LA PAGE LOGIN */




nav{
    display: flex;
    justify-content: flex-end;
    width:100%;
    height:30%;
    background-color:darkgray;
    font-size:3.5vh;
    margin-bottom: 2%;
}

nav a{
    margin-right:2em;
    text-decoration: none;
    color:whitesmoke;
}

#flexMain{             /*Utilisé pour la mise en page conteneur de la liste dossier et fichier*/
    font-size:2vh;
    display:flex;
    flex-flow:row no-wrap;
    
    width:100%;
}

aside{
    display: flex;
    flex-flow:row wrap;
    color:#ffffff;
    text-decoration: underline;
    align-content: space-around;
    justify-content: center;
    width:15%;
    height: 70vh;
    border-right: 1px solid #ecf0f1;    
    font-size:2vh;
}

aside h2{
    font-size:3.5vh;
}

aside a{
    font-size:2vh;
    text-decoration: none;
    margin-right:25%;
}

#Menuuser main{
    width:100%;
    
    margin:0 2% 0 2%;
    
    border:1px solid orange;
}

main h2{
    text-align:center;
    padding-top: 17%;
}

#BtnFile{
    text-align:left;
    
}

/* FIN CHARTE GRAPHIQUE */


/* ADMIN */

#MenuAdmin{
    background-color: #9E2A2B;
}

#MenuAdmin main{
    width:100%;
    
    margin:0 2% 0 2%;
    
    border:1px solid orange;
}

/* FIN ADMIN */

/* SETUSER */


#Menuusersettings main{
    display:flex;
    flex-direction:row;

}
article{
    width:50%;
    display:flex;
    flex-flow:column no-wrap;
    border:1px solid orange;
    height:70vh;
}

section{
    
}